<body>
    <header>
        <img class ='logo' src="/assets/images/nav-bar-page/cf-transparent.png" (click)="scrollToHome()">
        <ul class = "navbar">
            <li><label (click)="scrollToHome()" >home</label></li>
            <li><label (click)="scrollToExpertise()">expertise</label></li>
            <li><label (click)="scrollToProjects()">projects</label></li>
            <li><label (click)="scrollToExperiences()">experiences</label></li>
        </ul>
        <div class="links">
            <a href="https://github.com/Christoph5418" target="_blank"><i class="fab fa-github"></i></a>
            <a href="https://www.linkedin.com/in/christopher-fadel-a6b378217/" target="_blank"><i class="fab fa-linkedin"></i></a>
        </div>


    </header>
</body>